body {
    font-family: Arial;
    background: linear-gradient(135deg, #fceabb, #f8b500);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
}

textarea, input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: orange;
    color: white;
    border: none;
    border-radius: 10px;
}

pre {
    text-align: left;
}