body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #fceabb, #f8b500);
    height: 100vh;
    overflow: hidden;
}

/* BUBBLES */
.bubbles span {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.4);
    border-radius: 50%;
    animation: rise 10s linear infinite;
}

.bubbles span:nth-child(1){ left:10%; animation-duration:8s;}
.bubbles span:nth-child(2){ left:20%; animation-duration:12s;}
.bubbles span:nth-child(3){ left:30%; animation-duration:10s;}
.bubbles span:nth-child(4){ left:50%; animation-duration:7s;}
.bubbles span:nth-child(5){ left:70%; animation-duration:9s;}
.bubbles span:nth-child(6){ left:80%; animation-duration:11s;}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 0.6;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* CARD */
.container {
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    padding: 30px;
    width: 400px;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
    text-align: center;
}

textarea, input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 20px;
    background: orange;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}